
.smileys-box .smileys span {
  width:30px;
  height:30px;
}

.smileys-box fieldset {
  padding-top:0;
  margin-top:0;
  border:none;
}

table.forum-table td {
  vertical-align:top;
}

.forum-folder-legend dd {
  padding-left:0;
}

.drubb-attach-image {
  float: right;
  padding-right: 1em;
}

.smileys-box {
  width: 95%;
  margin-right: 0;
}

.smileys-box fieldset {
  padding-right: 0;
}
